<div class="container">
        {{> header}}
        <main>
            <img id="sadFaceImg"
                src="https://www.simplystamps.com/media/catalog/product/cache/5/image/600x600/9df78eab33525d08d6e5fb8d27136e95/1/0/10070-sad-face-emoji-teacher-craft-stamp-hcb.png"
                alt="sad face" />
            <h1>404</h1>
            <h2>Page not found</h2>
        </main>
    </div>
    {{> footer}}